<?xml version="1.0" encoding="UTF-8"?>
<projectDescription>
	<name>{{name}}</name>
	<comment></comment>
	<projects>
	</projects>
	<buildSpec>
		<buildCommand>
			<name>org.eclipse.cdt.managedbuilder.core.genmakebuilder</name>
			<triggers>clean,full,incremental,</triggers>
			<arguments>
			</arguments>
		</buildCommand>
		<buildCommand>
			<name>org.eclipse.cdt.managedbuilder.core.ScannerConfigBuilder</name>
			<triggers>full,incremental,</triggers>
			<arguments>
			</arguments>
		</buildCommand>
	</buildSpec>
	<natures>
		<nature>org.eclipse.cdt.core.cnature</nature>
		<nature>org.eclipse.cdt.managedbuilder.core.managedBuildNature</nature>
		<nature>org.eclipse.cdt.managedbuilder.core.ScannerConfigNature</nature>
	</natures>
	<linkedResources>
		{% if sources %}
		<link>
			<name>application</name>
			<type>2</type>
			<locationURI>virtual:/virtual</locationURI>
		</link>
		{% for group_name,files in sources.items() %}
		<link>
			<name>{{group_name}}</name>
			<type>2</type>
			<locationURI>virtual:/virtual</locationURI>
		</link> {% for file in files %}
		<link>
			<name>{{group_name}}/{{file.name}}</name>
			<type>1</type>
			<location>{{file.dir}}/{{file.name}}</location>
		</link>
		{% endfor %}{% endfor %}
		{% endif %}
		<link>
			<name>embARC</name>
			<type>2</type>
			<locationURI>virtual:/virtual</locationURI>
		</link>
    {% for group_name,files in links.items() %}
		<link>
			<name>{{group_name}}</name>
			<type>2</type>
			<locationURI>virtual:/virtual</locationURI>
		</link> {% for file in files %}
		<link>
			<name>{{group_name}}/{{file.name}}</name>
			<type>1</type>
			<locationURI>{{file.dir}}/{{file.name}}</locationURI>
		</link>
    {% endfor %}{% endfor %}
	</linkedResources>
	<variableList>
		<variable>
			<name>OSP_ROOT</name>
			<value>file:/{{embarc_root}}</value>
		</variable>
	</variableList>
</projectDescription>
